/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-size: 24px;
  line-height: 150%;
  font-family: 'Noto Sans', Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

/* profile */
.profile h1 {
  font-family: Roboto;
  font-size: 80px;
  line-height: 94px;
  padding-top: 47px;
  padding-bottom: 17px;
  border-bottom: 2px solid;
  margin-bottom: 48px;
  
}

.profile img {
  margin-bottom: 48px;
}

.subtitle {
  font-size: 32px;
  line-height: 43px;
  border-bottom: 1px solid;
  padding-bottom: 8px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.subtitle > span.en {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #A00404;
  padding-left: 16px;
}

.subtitleW {
  line-height: 45px;
  padding-top: 24px;
  margin-bottom: 40px;
  color: white;
  justify-content: center;
}

.subtitleW > span.en {
  color: white;
}

.profile, .education, .skills, .experience {
  margin-bottom: 72px;
}

.profile > ul > li, .education > ul > li {
  margin-bottom: 24px;
}

/* skills */
.skills {
  padding-bottom: 36px;
  background-color: #415165;
  color: white;
}

.skills .container {
  width: 996px;
}

.skills ul {
  display: table;
  margin: 0 auto;
  padding-left: 24px;
  border-left: 1px solid #96A9C4;
  font-weight: 300;
}

.skills ul > li:not(:last-child) {
  font-family: Roboto;
  margin-bottom: 20px;
}

/* exerience */
.experience > ul {
  padding-left: 24px;
  margin-left: 24px;
  border-left: 1px solid #96A9C4;
  width: 650px;
}

.experience > ul > li {
  margin-bottom: 24px;
}

.experience > ul > li > p {
  font-size: 20px;
  line-height: 30px;
}

.experience > ul > li > * {
  margin-bottom: 8px;
}

/* footer */
.footer {
  padding-bottom: 36px;
  background-color: #415165;
  color: white;
  text-align: center;
}

.footer h2 {
  margin-bottom: 32px;
}

.footer a:link {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: blue;
}

.footer ul > li {
  font-family: Roboto;
  font-weight: 300;
  margin-bottom: 16px;
}

.footer .container > a {
  margin-left: 24px;
}