/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::before,*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
  color: #fff;
}

a:hover {
  transform: scale(1.05);
  transition: all .3s;
}

body {
  font-family: 'Noto Sans', 'Roboto', sans-serif;
  line-height: 1.5;
}

.ff-en {
  font-family: 'Roboto', sans-serif;
}

.fz-14 {
  font-size: 14px;
}

.fz-36 {
  font-size: 36px;
}

.menu-color-primary {
  color: #fff;
}

/* container */
.container {
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width:992px) {
  .container {
    max-width: 690px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 345px;
  }
}

/* header */
.header {
  background-color: #AA0601;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 88px;
}

.header .logo a , .footer .logo a {
  display: block;
  width: 80px;
  height: 49px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png");
  text-indent: 101%;
  overflow:hidden;
  white-space: nowrap;
}

.header ul {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.header ul li {
  margin-left: 64px;
}

.header li a {
  padding: 40px 0;
}

@media (max-width:992px) {
  .header {
    padding: 0 39px;
  }

  .header ul li {
    margin-left: 40px;
  }
}

@media (max-width:767px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0;
  }

  .header .logo a {
    margin: 10px auto;
    background-size: cover;
    width: 48px;
    height: 29px;
  }

  .header ul {
    display: flex;
    flex-wrap: wrap;
  }

  .header ul li {
    width: 50%;
    text-align: center;
    margin-left: 0;
  }

  .header li a {
    border: 1px solid #fff;
    padding: 8px 0;
  }
}

/* bannder */
.banner {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #650300;
}

.banner .container {
  height: 840px;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
}

.banner .slogan p {
  font-size: 36px;
}

.banner .slogan h1 {
  font-size: 64px;
  font-weight: 700;
}

@media (max-width:992px) {
  .banner {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-sm.png");
  }

  .banner .slogan p {
    font-size: 20px;
  }

  .banner .slogan h1 {
    font-size: 48px;
  }
}

@media (max-width:767px) {
  .banner .container {
    height: 394px;
  }
  .banner .slogan p {
    font-size: 16px;
    line-height: 22px;
  }

  .banner .slogan h1 {
    font-size: 32px;
    line-height: 45px;
  }
}

/* h2 */
.service h2, .classic h2, .design h2, .recommand h2, .contact-us h2 {
  font-size: 48px;
  font-weight: 700;
  color: #650300;
  text-align: center;
  margin-bottom: 60px;
}

.design h2 {
  color: #fff;
}

.contact-us h2 {
  color: #000;
  margin-bottom: 24px;
}


@media (max-width:992px) {
  .service h2, .classic h2, .design h2, .recommand h2, .contact-us h2 {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .contact-us h2 {
    margin-bottom: 16px;
  }
}

@media (max-width:767px) {
  .service h2, .classic h2, .design h2, .recommand h2, .contact-us h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

/* service */
.service {
  background-color: #AA06010D;
  padding-top: 64px;
  padding-bottom: 40px;
}

.service ul {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.service li {
  width: 20%;
  margin-bottom: 40px;
}

.service li img {
  margin: 0 auto;
  margin-bottom: 40px;
}

.service li h3 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #650300;
  margin-bottom: 4px;
}

@media (max-width:992px) {
  .service ul {
    flex-wrap: wrap;
  }

  .service li {
    width: 40%;
  }

  .service li img {
    margin-bottom: 16px;
  }

  .service li h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

@media (max-width:767px) {
  .service {
    padding-bottom: 12px;
  }

  .service li {
    width: 85%;
  }
}

/* classic */
.classic {
  padding-top: 64px;
  padding-bottom: 48px;
}

.classic li {
  display: flex;
  margin-bottom: 32px;
}

.classic li:nth-child(even) {
  flex-direction: row-reverse;
}

.classic .product {
  height: 320px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 60%;
}

.classic .product-1 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-1.png");
}

.classic .product-2 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-2.png");
}

.classic .product-3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-3.png");
}

.classic .product div {
  display: none;
}

.classic li > div:not(.product) {
  width: 40%;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.classic li:nth-child(even) > div:not(.product) {
  margin-left: 0px;
  margin-right: 30px;
}

.classic img {
  margin-right: 8px;
}

.classic .optical img, .classic .sunglasses img {
  width: 48px;
}

.classic .functional img {
  height: 48px;
}


.classic h3 {
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
  color: #AA0601;
}

@media (max-width:992px) {
  .classic {
    padding-top: 40px;
    padding-bottom: 32px;
  }

  .classic li {
    margin-bottom: 8px;
  }
  
  .classic li:nth-child(even) {
    flex-direction: row;
  }

  .classic .product {
    height: 168px;
  }
  
  .classic li:nth-child(even) > div:not(.product) {
    margin-left: 30px;
    margin-right: 0px;
  }

  .classic .optical img, .classic .sunglasses img {
    width: 32px;
  }

  .classic .functional img {
    height: 32px;
  }

  .classic h3 {
    font-size: 28px;
  }
}
@media (max-width:767px) {
  .classic {
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .classic .product {
    width: 100%;
    height: 134px;
    margin: 0 auto;
  }

  .classic .product div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .classic .product div h3 {
    color:#fff;
  }

  .classic li > div:not(.product) {
    display: none;
  }
}

/* design */
.design {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-top: 64px;
  padding-bottom: 80px;
}

.design .container ul {
  display: flex;
  justify-content: space-between;
}

.design .double, .design .youth {
  width: 540px;
  height: 472px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.design .double {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-8.png");
}

.design .youth {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-9.png");
  margin-left: 30px;
}

.design .double div, .design .youth div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.design h3 {
  font-size: 72px;
  font-weight: 700;
  color: #AA0601;
}

@media (max-width:992px) {
  .design {  
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .design .double, .design .youth {
    width: 330px;
    height: 280px;
  }

  .design h3 {
    font-size: 32px;
  }
}

@media (max-width:767px) {
  .design {  
    padding-top: 32px;
    padding-bottom: 16px;
  }

  .design .container ul {
    flex-direction: column;
    align-items: center;
  }

  .design .double, .design .youth {
    width: 345px;
    height: 284px;
    margin-left: 0px;
    margin-bottom: 16px;
  }
}

/* recommand */
.recommand {
  padding-top: 64px;
  padding-bottom: 64px;
}

.recommand ul {
  display: flex;
  justify-content: space-between;
}

.recommand .rec {
  width: 100%;
}

.recommand li div:not(.rec) {
  padding: 14px 16px 15px 16px;
  border: 1px solid #DEE2E6;
  border-top: 0;
}

.recommand li:not(:last-child) {
  margin-right: 30px;
}

.recommand h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 7px;
}

.recommand p:not(.time) {
  font-size: 16px;
  margin-bottom: 10px;
}

.recommand p.time {
  font-size: 14px;
  color: #707070;
}

@media (max-width:992px) {
  .recommand {
    padding-top: 40px;
    padding-bottom: 12px;
  }

  .recommand ul {
    flex-wrap: wrap;
  }

  .recommand li div:not(.rec) {
    padding: 16px;
  }

  .recommand li:not(:last-child) {
    margin-right: 0px;
  }

  .recommand li {
    width: 48%;
    margin-bottom: 28px;
  }
  
  .recommand h3 {
    margin-bottom: 16px;
  }
  
  .recommand p:not(.time) {
    margin-bottom: 16px;
  }
}

@media (max-width:767px) {
  .recommand {
    padding-top: 32px;
    padding-bottom: 16px;
  }

  .recommand li {
    width: 100%;
    margin-bottom: 16px;
  }
}

/* contact-us */
.contact-us {
  padding-top: 64px;
  padding-bottom: 80px;
  background-color: #AA06010D;
}

.contact-us form {
  margin: 0 auto;
  max-width: 730px;
}

.contact-us .desc {
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-us .text {
  margin-bottom: 16px;
}

.contact-us input[type="text"], .contact-us textarea {
  width: 100%;
  border: 1px solid;
  background: transparent;
  outline: none;
  padding: 0 0 0 16px;
}

.contact-us input[type="text"] {
  height: 50px;
}

.contact-us textarea {
  padding-top: 14px;
  padding-left: 16px;
  height: 136px;
  resize: none;
}

.contact-us div.checkbox {
  display: flex;
  margin-bottom: 42px;
}

.contact-us div.checkbox input {
  margin: 0;
  width: 24px;
  height: 24px;
}

.contact-us div.checkbox label {
  margin-left: 4px;
  font-size: 16px;
}

.contact-us .btn {
  margin: 0 auto;
  width: 350px;
  height: 54px;
  background-color: #AA0601;
}

.contact-us a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:992px) {
  .contact-us {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .contact-us form {
    max-width: 450px;
  }

  .contact-us .desc {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .contact-us .text {
    margin-bottom: 8px;
  }
  
  .contact-us input[type="text"] {
    height: 36px;
    padding-left: 12px;
  }
  
  .contact-us textarea {
    padding-top: 8px;
    padding-left: 12px;
    height: 100px;
  }

  .contact-us div.checkbox {
    margin-bottom: 20px;
  }
  
  .contact-us div.checkbox input {
    margin-top: 3px;
    width: 17.63px;
    height: 17.63px;
  }
  
  .contact-us div.checkbox label {
    margin-left: 2.37px;
    font-size: 14px;
  }

  .contact-us .btn {
    width: 210px;
    height: 36px;
  }
  
}

@media (max-width:767px) {
  .contact-us {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .contact-us form {
    max-width: 345px;
  }

  .contact-us .desc {
    margin-bottom: 8px;
  }

  .contact-us div.checkbox {
    margin-bottom: 24px;
  }

  .contact-us .btn {
    width: 165px;
  }
}

/* footer */
.footer {
  background-color: #AA0601;
  padding-top: 48px;
  padding-bottom: 28px;
}

.footer .container:first-child {
  display: flex;
  justify-content: space-between;
  
  border-bottom: 1px solid #fff;
}

.footer .menu {
  display: flex;
}

.footer .social {
  display: flex;
  justify-content: flex-end;
}

.footer .menu li {
  margin-right: 48px;
}

.footer .social li:not(:first-child) {
  margin-left: 32px;
}

.footer .menu li a {
  padding: 12px 0;
}

.footer .phone, .footer .mail {
  font-size: 36px;
  display: flex;
  align-items: center;
  width: 100%;
}

.footer .phone {
  margin-top: 18px;
}

.footer .mail {
  margin-top: 17px;
  padding-bottom: 20px;
}

.footer .phone img {
  height: 44px;
  margin-right: 17px;
}

.footer .mail img {
  margin-right: 12px;
}

.footer .copyright {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.footer .copyright div {
  display: flex;
  align-items: center;
}

.footer .copyright .logo a {
  margin-right: 38px;
}

.footer .copyright ul {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.footer .copyright ul li {
  margin-left: 62px;
}

@media (max-width:992px) {
  .footer {
    padding: 40px 0;
  }

  .footer .menu li {
    margin-right: 40px;
  }

  .footer .social li:not(:first-child) {
    margin-left: 24px;
  }
  
  .footer .menu li a {
    padding: 0;
  }

  .footer .social img {
    width: 24px;
    height: 24px;
  }

  .footer .phone {
    font-size: 20px;
    margin-top: 22px;
  }
  
  .footer .mail {
    font-size: 20px;
    margin-top: 8px;
    padding-bottom: 24px;
  }

  .footer .phone img {
    height: 24px;
    margin-right: 12px;
  }
  
  .footer .mail img {
    height: 32px;
    margin-right: 8px;
  }

  .footer .copyright .logo a{
    display: none;
  }
  
  .footer .copyright ul li {
    margin-left: 24px;
  }
}

@media (max-width:767px) {
  .footer {
    padding: 24px 0;
  }

  .footer .menu {
    display: none;
  }

  .footer .phone {
    margin-top: 0;
    font-size: 16px;
    line-height: 30px;
  }

  .footer .mail {
    font-size: 16px;
  }
  
  .footer .copyright {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .footer .phone img {
    height: 20px;
    margin-right: 4px;
  }
  
  .footer .mail img {
    height: 20px;
    margin-right: 5px;
  }

  .footer .copyright ul {
    display: block;
  }

  .footer .copyright ul li {
    margin-top: 8px;
    margin-left: 0px;
  }

  .footer .copyright .logo a {
    background-size: cover;
    position: absolute;
    display: block;
    margin-right: 0;
    width: 46px;
    height: 28px;
    bottom: 0;
    right: 0;
  }
}