<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="sidenav d-flex flex-column justify-content-between py-4">
    <div>
      <h1 class="px-4"><a class="logo" href="index.html">Answer</a></h1>
      <div class="custom-sidenav-list-group list-group">
        <a href="" class="custom-list-group-item list-group-item list-group-item-action d-flex px-4">
          <span class="material-icons">insert_chart</span>
          <p class="ml-2 mb-0 font-weight-bold">Dashboard</p>
        </a>
        <a href="" class="custom-list-group-item list-group-item list-group-item-action d-flex px-4">
          <span class="material-icons">question_answer</span>
          <p class="ml-2 mb-0 font-weight-bold">Question</p>
        </a>
        <a href="" class="custom-list-group-item list-group-item list-group-item-action active d-flex px-4">
          <span class="material-icons">assignment</span>
          <p class="ml-2 mb-0 font-weight-bold">Assignment</p>
        </a>
        <a href="" class="custom-list-group-item list-group-item list-group-item-action d-flex px-4">
          <span class="material-icons">video_library</span>
          <p class="ml-2 mb-0 font-weight-bold">Course</p>
        </a>
        <a href="" class="custom-list-group-item list-group-item list-group-item-action d-flex px-4">
          <span class="material-icons">group</span>
          <p class="ml-2 mb-0 font-weight-bold">Admin</p>
        </a>
        <a href="" class="custom-list-group-item list-group-item list-group-item-action d-flex px-4">
          <span class="material-icons">settings</span>
          <p class="ml-2 mb-0 font-weight-bold">Settings</p>
        </a>
      </div>
    </div>

    <div class="d-flex align-items-center px-4">
      <img class="head" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/andychen.jpeg" alt="head">
      <div class="ml-2">
        <h3 class="fz-16 font-weight-bold">Andy Chen</h3>
        <p class="fz-14 mb-0 font-color-secondary">andy0401@mail.com</p>
      </div>
    </div>
  </div>
  <%- contents %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
